/* color variables */

$colorone: #111111;
$colortwo: #222222;
$colorthree: #333333;

/* end color variables */

a#searchopen:link, a#searchopen:visited, a#mobileopen:link, a#mobileopen:visited {
	color: #000000;
}

header.home_default_image {
	background: url('../img/home.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header.header_page.page_default_image {
	background: url('../img/page.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#home_logo {
	#home_page_nav {
		ul {
			li {
				a:link,
				a:visited {
					background: #000000;
				}
			}
		}
	}
}

.breadcrumb_wrapper {
	span.breadcrumbs {
		a:link, 
		a:visited {
			color: #000000;
		}
	}
}

.appointment {
	background: #000000;
}

.content {
	h1, h2, h3 {
		color: #000000;
	}
	
	hr.divider {
		background: #000000;
	}
}

.sidebar {
	background: #f5f5f5;
	border-radius: 10px;
	padding: 20px;
	
	h3 {
		color: #000000;
	}
	
	img {
		height: auto;
		margin-bottom: 20px;
		width: 100%;
		border-radius: 5px;
	}
	
	p.description {
		color: #555555;
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 20px;
	}
	
	a.more:link,
	a.more:visited {
		background: #000000;
		color: #ffffff;
		display: block;
		padding: 10px 20px;
		text-align: center;
		border-radius: 5px;
	}
}

/* Our Homes Page */

#houses {
	.house_wrapper {
		display: inline-block;
		padding: 20px;
		width: calc(50% - 40px);
		
		img {
			width: 100%;
			border-radius: 5px;
		}
		
		span.location {
			display: block;
			font-size: 20px;
			padding: 5px 20px;
			text-align: center;
		}
		
		&.single {
			width: calc(100% - 40px);
		}
	}
}

/* parallax */

.parallax.parallax_default_image {
	background: url('../img/parallax.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.edit_button {
	a:link,
	a:visited {
		background: #000000;
	}
}

@media (min-width: 980px) and (max-width: 1220px) {
	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header {
		height: 500px;
	}
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
}